* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans, sans-serif;
}
@font-face {
    font-family: cherolina;
    src: url(font/Cherolina.ttf);
}
header {
    background-color: #B4B4B8;
    color: #f5f5f5;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-family: cherolina, sans-serif;
    font-weight: normal;
    font-size: 90px;
}
nav li {
    list-style-type: none;
    display: inline;
}
nav li a {
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: #f5f5f5;
}
nav li a:hover {
    text-decoration: underline;
}
section {
    background-color: #f5f5f565;
}
#about .container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
#foto-loja {
    width: 500px;
    height: 500px;
    margin-right: 10px;
    padding-right: 20px;
}
h2 {
    font-family: cherolina;
    font-size: 76px;
    font-weight: normal;
}
.produto {
    padding-bottom: 16px;
}
.produto img {
    margin-top: 20px;
    width: 100%;
}
#produtos .container {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 5%;
}
.produto a {
    text-decoration: none;
    color: #000;
}
.produto p {
    padding: 8px;
}
.foto-produto {
    margin-bottom: 16px;
}
.produto button {
    display: block;
    margin-top: 8px;
    padding: 10px;
    width: 100px;
    background-color: #B4B4B8;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
}
.produto button:hover {
    background-color: #b4b4b858;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 90%;
    }
    nav li a {
        padding: 10px;
    }
    #about .container {
        display: block;
    }
    #produtos .container {
        grid-template-columns: repeat(2, 49%);
    }
    #foto-loja {
        width: 850px;
        height: 750px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        width: 90%;
    }
    .container h1 {
        font-size: 60px;
    }
    nav li a {
        font-size: 16px;
        padding: 10px;
    }
    #about .container {
        display: block;
    }
    #produtos .container {
        display: block;
    }
    #foto-loja {
        width: 450px;
        height: 450px;
    }
    h2 {
        font-size: 56px;
    }
    h3 {
        font-size: 18px;
    }
}


